!.gitkeep

# Ignore vscode configuration files
.vscode/*

# Ignore object and common binary files
bin/*
obj/*

# Ignore log files
log/log.txt

# Ignore test coverage files
*.gcda
*.gcno
*.gcov

# Ignore test binaries
test/*
!test/*.c
!test/*.h

# Ignore common binary files
*.exe      # Executable files on Windows
*.dll      # Libraries on Windows
*.so       # Libraries on Linux
*.dylib    # Libraries on macOS
*.bin      # Generic binary files
*.obj      # Object files (compilation artifacts)
*.o        # Object files (compilation artifacts)
*.a        # Static library files
*.lib      # Static library files
*.pdb      # Debugging files on Windows
*.class    # Java bytecode files
*.jar      # Java JAR files