name: Test CI

on:
  push:
    branches:
      - develop
      - bugfix/fix_test_action
      - bugfix/fix_mq_utils_tests
  pull_request:
    branches: [ "develop" ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y build-essential

    - name: Compile project
      run: make

    - name: Run Tests
      run: sudo make test
